* {
    Margin: 0;
    padding: 0;
}

body {
    background: #FFFAFA;
} 

.app {
  background: #ffe2b6;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;

}
.app h1 {
    font-weight: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0; 
}
.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;  
}
.btn:disabled {
    cursor: no-drop;
}
#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #9aeabc;
}
.incorrect {
    background: #ff9393;
}

.popup {
    display: none; /* Hide the popup by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Ensure the popup appears above other content */
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content form {
    margin-bottom: 20px;
}

.popup-content label {
    display: block;
    margin-bottom: 5px;
}

.popup-content input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.popup-content button {
    padding: 8px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #0056b3;
}

.popup-content a {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

.popup-content a:hover {
    text-decoration: underline;
}